@using System.Web;
@using System.Web.Mvc;
@using System.Data.Entity;
@model IEnumerable<Bonsal_Gardent.Areas.Admin.Data.Picture>
@{
    ViewBag.Title = "ProductDetails";
}

<style type="text/css">


    .show-form {
        display: none;
    }
</style>

@{ string ID = "";}
<section class="product-details spad">
    <div class="container">
        <div class="row">
            @{ var productId = 0;}
            @{ var info = "";}
            @foreach (var item in Model)
            {
                productId += item.ProductID;
                info += item.Product.Info;
                <div class="col-lg-6 col-md-6">

                    <div class="product__details__pic">

                        <div class="product__details__pic__item">
                            @{string[] paths = @item.Path.Split(',');}
                            <img class="product__details__pic__item--large" src="~/Images/UploadedFiles/@paths[0]" />
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            @foreach (var T in paths)
                            {
                                <img data-imgbigurl="/Images/UploadedFiles/@T" src="~/Images/UploadedFiles/@T" alt="" width="200">
                            }
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>@item.Product.Name</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price"> @string.Format("{0:#,##0,0}", @item.Product.Price) VNĐ</div>
                        <form action="@Url.Action("AddCartAll", "Cart", new {ms=item.ProductID,url=Request.Url.ToString()})" method="post">
                            <div class="product__details__quantity">
                                <div class="quantity">
                                    <div class="pro-qty">
                                        <input type="text" name="Amount" value="1" min="1" />
                                    </div>
                                </div>
                            </div>

                            <input type="submit" class="primary-btn" value="ADD TO CARD">
                        </form>
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <ul>
                            <li><b>Availability</b> <span>In Stock</span></li>
                            <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                            <li><b>Place</b> <span>@item.Product.Place</span></li>
                            <li>
                                <b>Share on</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            }

            <div class="col-lg-12">

                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab"
                               aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                               aria-selected="false">Information</a>
                        </li>
                        <li class="nav-item">
                            @{ Bonsal_Gardent.Areas.Admin.Data.Bonsal_GardentEntities dbs = new Bonsal_Gardent.Areas.Admin.Data.Bonsal_GardentEntities();
                                var t = dbs.CommentProducts.ToList();
                                var cnt = 0;
                                var k = dbs.ReplyComments.ToList();
                                foreach (var itt in t.Where(n => n.ProductID == @productId))
                                {
                                    cnt++;
                                    foreach (var item1 in k.Where(n => n.CommentID == itt.ID))
                                    {
                                        cnt++;
                                    }
                                }
                                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab"
                                   aria-selected="false">Reviews <span>(@cnt)</span></a>
                            }

                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                @Html.Raw(@info)
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <div>

                                    @Html.Raw(@info)

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane active" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Comment</h6>
                                <div class="panel panel-primary">

                                    <div class="panel-body row">
                                        <div class="form-group col-md-12 ">
                                            <label>Review<span>*</span></label>
                                            <textarea type="text" name="Content" id="Content" class="form-control" placeholder="Write a comment ..."></textarea>
                                        </div>
                                        <div class="form-group col-md-2" style=" margin-left: -8%">
                                            <div style="float: right; ">

                                                @if (Session["CInfo"] == null)
                                                {
                                                    <text>
                                                        <button class="btn btn-primary" name="submitButton" id="btnSave" onclick="location.href='@Url.Action("Login", "Security")'">Send </button>
                                                    </text>
                                                }
                                                else
                                                {

                                                    ID = ((Bonsal_Gardent.Areas.Admin.Data.AccCustomer)Session["CInfo"]).ID.ToString();
                                                    <button class="btn btn-primary" name="submitButton" id="btnSave">Send </button>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    @{
                                        Bonsal_Gardent.Areas.Admin.Data.Bonsal_GardentEntities db = new Bonsal_Gardent.Areas.Admin.Data.Bonsal_GardentEntities();
                                        var cmt = db.CommentProducts.ToList();
                                        var cnt1 = 1;
                                        foreach (var it in cmt.Where(n => n.ProductID == @productId))
                                        {
                                            cnt1 = it.ID;
                                            <div>

                                                <span><img src="~/Images/Logo/Admin.png" style="width: 4%; height: 4%; border-radius:50%; border: 1px solid black" /><span>&nbsp;&nbsp;<b>@it.AccCustomer.Name</b></span></span>
                                                <div style="color: gold;margin-left:50px; margin-top: -8px">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>

                                                </div>
                                                <span style="margin-left:50px">@it.Content</span><br />
                                                <button class="" style="margin-left:50px; border: 1px; background-color: white; color: blue" onclick="kiemTraForm(@it.ID)"><i class="fas fa-share"></i>&nbsp;Reply</button><br /><br />

                                                @{

                                                    Bonsal_Gardent.Areas.Admin.Data.Bonsal_GardentEntities dd = new Bonsal_Gardent.Areas.Admin.Data.Bonsal_GardentEntities();
                                                    var replycmt = dd.ReplyComments.ToList();

                                                    foreach (var rely in replycmt.Where(n => n.CommentID == it.ID))
                                                    {

                                                        <span style="margin-left:50px"><img src="~/Images/Logo/Admin.png" style="width: 4%; height: 4%; border-radius:50%; border: 1px solid black" /><span>&nbsp;&nbsp;</span><b>@rely.AccCustomer.Name</b></span><br />

                                                        <span style="margin-left:100px">@rely.Answer</span><br />
                                                        <button class="" style="margin-left:90px; border: 1px; background-color: white; color: blue" onclick="kiemTraForm(@it.ID)"><i class="fas fa-share"></i>&nbsp;Reply</button><br />

                                                    }
                                                }

                                            </div>

                                            <div class="show-form" id="aa-@it.ID">
                                                <div class="col-md-12 ">
                                                    <textarea style="width: 97%;margin-left:50px" type="text" name="Answer" id="Answer+@cnt1" class="form-control" required=""></textarea><br />
                                                </div>
                                                <div class="form-group " style="margin-left:80px">
                                                    <div>

                                                        @if (Session["CInfo"] == null)
                                                        {
                                                            <text>
                                                                <button class="btn btn-primary" name="submitButton" id="@cnt1" onclick="location.href='@Url.Action("Login", "Security")'">Send </button>
                                                            </text>
                                                        }
                                                        else
                                                        {

                                                            ID = ((Bonsal_Gardent.Areas.Admin.Data.AccCustomer)Session["CInfo"]).ID.ToString();
                                                            <button class="btn btn-primary" name="submitButton" id="@cnt1">Send </button>
                                                        }

                                                    </div>

                                                </div>

                                            </div>
                                            <script type="text/javascript">

                                                document.getElementById("@cnt1").onclick = function () {
                                                    var name = document.getElementById("Answer+@cnt1").value;
                                                    var std = {};
                                                        std.Answer = name;
                                                        std.CommentID = @cnt1;
                                                        std.CustomerID = @ID;
                                                    $.ajax({
                                                        type: "POST",
                                                        url: '@Url.Action("replyCommet")',
                                                        data: '{std: ' + JSON.stringify(std) + '}',
                                                        dataType: "json",
                                                        contentType: "application/json; charset=utf-8",
                                                        success: function () {
                                                            // alert("Data has been added successfully.");
                                                            window.location.reload();
                                                        },
                                                    });
                                                    return false;
                                                }

                                            </script>
                                            <hr />
                                           


                                        }

                                    }

                                </div>
                                <!-- END FORM-->
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

@section Scripts{
    <script type="text/javascript">
        function kiemTraForm(id) {

            var item = document.querySelector("#aa-" + id);
            item.classList.remove("show-form");
        }

        $(function () {
            $("#btnSave").click(function () {
            var std = {};
            std.Content = $("#Content").val();
            std.ProductID = @productId;
            std.AccCustomerID = @ID;
            $.ajax({
                type: "POST",
                url: '@Url.Action("createCommet")',
                data: '{std: ' + JSON.stringify(std) + '}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    // alert("Data has been added successfully.");
                    window.location.reload();
                },
            });
            return false;

            });

        });
        @*function LoadData() {
            //alert("1");
            $("#tblComment").remove();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getComment")',
                dataType: 'json',
                data: { id: '' },
                success: function (data) {
                    var items = '';
                    $.each(data, function (i, item) {

                        var rows = "<div>"
                            + "<span>" + item.AccCustomer.Name + "</span>"
                            + "<span>" + item.Content + "<span>"

                            + "</div>";
                        $('#tblComment').append(rows);
                    });
                },
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });
            return false;
        }*@

    </script>

}
