
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["CInfo"] != null)
{
    string ID = ((Bonsal_Gardent.Areas.Admin.Data.AccCustomer)Session["CInfo"]).ID.ToString();
    string Name = ((Bonsal_Gardent.Areas.Admin.Data.AccCustomer)Session["CInfo"]).Name.ToString();
    string Email = ((Bonsal_Gardent.Areas.Admin.Data.AccCustomer)Session["CInfo"]).Email.ToString();
    string Phone = ((Bonsal_Gardent.Areas.Admin.Data.AccCustomer)Session["CInfo"]).Phone != null ? ((Bonsal_Gardent.Areas.Admin.Data.AccCustomer)Session["CInfo"]).Phone.ToString() : "";
    string Address = ((Bonsal_Gardent.Areas.Admin.Data.AccCustomer)Session["CInfo"]).Address.ToString();
<text>
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://www.kibrispdr.org/data/583/gambar-user-png-33.png" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">Setting:</h5>
                            <div class="form-group">
                                @Html.ActionLink("Modify", "ModifyInfo", null, new { @class = "btn btn-dark w-100" })
                            </div>
                            <div class="form-group">
                                <a href="~/Security/Login"><input type="button" value="Logout" class="btn btn-dark w-100" /></a>
                            </div>
                            <div class="d-flex justify-content-center mb-2">
                            </div>
                        </div>
                    </div>
                    @*<div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush rounded-3">
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fas fa-globe fa-lg text-warning"></i>
                                    <p class="mb-0">https://mdbootstrap.com</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                    <p class="mb-0">mdbootstrap</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                    <p class="mb-0">mdbootstrap</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                    <p class="mb-0">mdbootstrap</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                    <p class="mb-0">mdbootstrap</p>
                                </li>
                            </ul>
                        </div>
                    </div>*@
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 font-weight-bold">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Name</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 font-weight-bold">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Email</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 font-weight-bold">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Phone</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 font-weight-bold">Address</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Address</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <p class="mb-4 font-weight-bold">
                                        Order Pending
                                    </p>
                                    <div class="order-panel">
                                        @Html.Partial("_OrderPending")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <p class="mb-4 font-weight-bold">
                                        Order Approved
                                    </p>
                                    <div class="order-panel">
                                        @Html.Partial("_OrderApproved")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <p class="mb-4 font-weight-bold">
                                        Order Rejected
                                    </p>
                                    <div class="order-panel">
                                        @Html.Partial("_OrderRejected")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <p class="mb-4 font-weight-bold">
                                        Order Received
                                    </p>
                                    <div class="order-panel">
                                        @Html.Partial("_OrderReceived")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
</text>
}
else
{
    Response.Redirect("~/Security/Login");
}



